.bold-title {
  font-weight: 700;
  font-size: calc(1.2em + 1vmin);
  margin-bottom: 1rem;
}

.side-nav-title {
  font-weight: 400;
  font-size: calc(1.1em + 1vmin);
  margin-bottom: 1rem;
  color: #fff;
}

.side-nav .side-nav-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.side-nav .side-nav-list li a {
  text-decoration: none;
  padding: 0.5rem 0;
}