@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #292929;
  --color-primary-light: #3a3a3a;;
  --color-secondary: #F68338;
  --color-secondary-light: #dfa177ce;
  --color-accent: #ffffff;
}

* {
  outline: 1px dashed red;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--color-primary);
}

.section-vh-100 {
  min-height: 100vh;
  height: auto;
  
}

.section-vh-75 {
  min-height: 75vh;
  height: auto;
}

.section-vh-auto {
  height: auto;
}

.section-inner {
  max-width: 1100px;
  margin: auto;
}

.section-subtitle {
  width: max-content;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  font-weight: 500px;
  font-size: 21px;
}

.section-subtitle-with-bg {
  position: relative;
  background: var(--color-primary-light);
  color: var(--color-accent);
  border-radius: 50px;
}

.section-text-general {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin: 1rem 0;
  color: var(--color-accent);
}

/* ---------------------------------------- */

.navbar-desktop-hidden {
  display: none;
}

/* ---------------------------------------- */

.animation-slide-up {
  animation: slide-up 0.5s ease-in-out;
  animation-fill-mode: both;
}

.animation-fade-in {
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
}

.delay-3-5 {
  animation-delay: 3.5s;
}

/* ---------------------------------------- */

.section-hero-landing {
  position: relative;
  background: var(--color-primary);
  color: var(--color-accent);
}
.section-hero-landing .section-hero-landing-transparent {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-primary);
  opacity: 0.5;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.section-hero-landing .section-hero-inner {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.section-hero-landing .section-hero-inner h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.07em;
  text-align: center;
  color: var(--color-secondary);
}

.section-hero-landing .section-hero-inner h1 span {
  display: inline-block;
}

.section-hero-landing .section-hero-inner button {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.07em;
  text-align: center;
  color: var(--color-primary);
  background: var(--color-secondary);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.section-hero-landing .section-hero-inner button:hover {
  background: var(--color-primary);
  color: var(--color-secondary-light);
}

.section-hero-landing .section-hero-inner p {
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 700px;
  margin: 1.25rem auto;
  color: var(--color-accent);
}

.section-hero-landing .section-hero-landing-background::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/1066_websize.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-primary);
  animation: fade-out 1s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4s;
}
.section-hero-landing video#HeroBackgroundVideo {
  position: fixed;
  top: 0rem;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ---------------------------------------- */

.section-about-us {
  position: relative;
  background: var(--color-primary);
  padding: 5rem 0;
}

.section-about-us .section-about-us-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-about-us .section-about-us-images img:nth-child(1) {
  margin: 2px;
  width: 64%;
  height: 50%;
  object-fit: cover;
}

.section-about-us .section-about-us-images img:nth-child(2) {
  margin: 2px;
  width: 34%;
  height: 50%;
  object-fit: cover;
}

.section-about-us .section-about-us-images img:nth-child(3) {
  margin: 2px;
  width: 34%;
  height: 50%;
  object-fit: cover;
}

.section-about-us .section-about-us-images img:nth-child(4) {
  margin: 2px;
  width: 64%;
  height: 50%;
  object-fit: cover;
}

/* ---------------------------------------- */

.section-what-we-do {
  position: relative;
  background: var(--color-primary);
  padding: 1/2rem 0;
}

.section-what-we-do .section-what-we-do-inner {
  text-align: center;
  max-width: 876px;
  margin: auto;
}

.section-what-we-do .section-what-we-do-inner .section-what-we-do-galleries {
  margin: 1.5rem auto;
}

.section-what-we-do .section-what-we-do-inner h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.07em;
  text-align: center;
  color: var(--color-secondary);
}

.section-what-we-do .section-what-we-do-inner h4 {
  margin: 2rem auto;
}

.section-what-we-do .section-what-we-do-inner p {
  color: var(--color-accent);
}

.section-what-we-do .section-what-we-do-inner swiper-container {
  width: 100%;
  height: 100%;
}

.section-what-we-do .section-what-we-do-inner swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.section-what-we-do .section-what-we-do-inner swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.section-what-we-do .section-what-we-do-inner swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.section-what-we-do .section-what-we-do-inner swiper-slide {
  background-size: cover;
  background-position: center;
}

.section-what-we-do .section-what-we-do-inner .mySwiper {
  height: 80%;
  width: 100%;
}

.section-what-we-do .section-what-we-do-inner .mySwiper2 {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.section-what-we-do .section-what-we-do-inner .mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.section-what-we-do .section-what-we-do-inner .mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.section-what-we-do .section-what-we-do-inner swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------------- */


.working-process-selected {
  background: var(--color-primary-light);
  color: var(--color-accent);
}

.section-working-process {
  position: relative;
  background: var(--color-primary);
  padding: 1.2rem 0;
}

.section-working-process .section-working-process-inner h4 {
  text-align: center;
  max-width: 876px;
  margin: 2.4rem auto;
}

.section-working-process .working-process-steps {
  padding: 0;
}

.section-working-process .working-process-detail {
  border-radius: 30px;
}

/* Visualization of Step 1 */

.section-working-process .working-process-detail .working-process-detail-visualization {
  position: relative;
}

.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-14  {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-21  {
  position: absolute;
  top: 25px;
  height: 93px;
  left: 110px;
  z-index: 1;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-16:nth-of-type(2) {
  position: absolute;
  top: 25px;
  right: 110px;
  z-index: 1;
  opacity: 0;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-16:nth-of-type(3) {
  position: absolute;
  top: 50px;
  right: 110px;
  z-index: 1;
  opacity: 0;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 1s;
}
.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-16:nth-of-type(4) {
  position: absolute;
  top: 75px;
  right: 110px;
  z-index: 1;
  opacity: 0;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-16:nth-of-type(5) {
  position: absolute;
  top: 100px;
  right: 110px;
  z-index: 1;
  opacity: 0;
  animation: slide-down-fade-in 1s ease-in-out forwards;
  animation-delay: 2s;
}

.section-working-process .working-process-detail .working-process-detail-visualization img.rectangle-15  {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: slide-down 1s ease-in-out forwards;
  animation-delay: 3s;
}



/* End Visualization of Step 1 */

.section-working-process .working-process-steps li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  border: 1px solid var(--color-primary-light);
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.section-working-process .working-process-steps li label {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0;
  line-height: 1.5rem;
  letter-spacing: 0.07em;
  text-align: left;
  width: 100%;
  color: var(--color-accent);
}

.section-working-process .working-process-steps li span.working-process-step-number {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.07em;
  text-align: left;
  width: auto;
  color: var(--color-secondary);
}

.section-working-process .working-process-steps li span.working-process-step-selected-status {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 2em;
  letter-spacing: 0.1em;
  position: relative;
  padding-right: 1.4em;
  text-decoration: none;
}

.section-working-process .working-process-steps li span.working-process-step-selected-status:hover, .section-working-process .working-process-steps li span.working-process-step-selected-status:focus {
  text-decoration: none;
}
.section-working-process .working-process-steps li span.working-process-step-selected-status:before, .section-working-process .working-process-steps li span.working-process-step-selected-status:after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0;
  margin: 0 0 -8px;
  background: #ffffff;
  border-radius: 2px;
}
.section-working-process .working-process-steps li span.working-process-step-selected-status:before {
  right: 32px;
  width: 2px;
  height: 15px;
  transition: all 300ms;
  margin-top: -7.5px;
  background: #ffffff;
}
.section-working-process .working-process-steps li span.working-process-step-selected-status:after {
  right: 25px;
  width: 16px;
  height: 3px;
  margin-top: -1.5px;
  background: #ffffff;
}
.section-working-process .working-process-steps li span.working-process-step-selected-status.expanded:before {
  height: 0;
  margin-top: 0;
}